@keyframes check-rotation{
    0%{
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes body-fade-in{
    100%{
        overflow: auto;
    }
}

@keyframes loading-fade-out{
    99%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes spinner-rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes shop-fade-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}