
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$box-shadow: rgb(184, 184, 184);
$bg: #f6f6f6;

$card-border: 1.3em;

$spinner-duration: 900ms;
$loading-duration: 500ms;
$heart-duration: 200ms;
$shop-duration: 800ms;
$check-duration: 450ms;

$loading-delay: 1000ms;
$shop-delay: 700ms;