/*-- Propriétés générales --*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-family: Roboto, sans-serif;
}

html{
    font-size: 10px;
    @media screen and (min-width: 768px){
        font-size: 13px;
    }
}

body{
    max-width: 1900px;
    margin: auto;
}

h1, h2, h3, h4{
    font-weight: normal;
    line-height: 1.2;
}

p{
    line-height: 1;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
    background: none;
}

.medium{
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

.extra-bold{
    font-weight: 900;
}